*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root
{
    --Tcolor1:black;
    --Tcolor2:white;
    --BGcolor1:rgb(255, 217, 0);
    --BGcolor2:white;
}
body{
    color: var(--Tcolor1);
    font-family: 'roboto';
    /* background-color: var(--BGcolor1); */
    min-height: 100vh;
}
/* nav - bar */

.nav-bar
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color:rgb(218, 98, 150);
    background-color:rgb(138, 43, 226,0.5); */
/* background: linear-gradient(345deg, rgba(238,174,202,1) 0%, rgba(233,228,148,1) 100%); */
background-color: black;
    height: 80px;
    position: fixed;
    width: 100%;
    top: 0;
    padding: 0 60px;
    box-shadow: 4px 2px 4PX rgb(119, 14, 93);
    z-index: 100;
}
.nav-bar li
{
  display: inline;
}
.nav-bar h2{
    font-size: 30px;
    color:rgb(250, 248, 250);
}
.nav-bar a
{
    text-decoration: none;
    color: var(--Tcolor2);
    margin: 0 5px;
    font-weight: bold;
    font-size: 1.2rem;
}
.nav-bar a:hover
{
   color: blueviolet;
}
.Home
{
    /* background-color: var(--BGcolor1);
    background:linear-gradient(to right,yellow,red); */
/* background: linear-gradient(21deg, rgba(180,39,137,1) 35%, rgba(100,208,197,1) 100%); */
background: rgb(238,174,202);
background: linear-gradient(345deg, rgba(238,174,202,1) 0%, rgba(233,228,148,1) 100%);
   height: 100vh;
   width: 100%;
   display: block;

}
.s1-main{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 100vh;
    margin: 0 10%;
    gap: 3rem;
 
    
}
.s1-con1,.s2-con
{
    min-width: 400px;
    height: 500px;
    /* border: 2px solid red; */
    animation: popup 4s linear 1s ;
  
}
.s1-con1 span
{
    color: var(--Tcolor2);
  font-size: 3rem;
  margin-bottom: 10px;

}

.s1-con1 h2
{
  font-size: 2.5rem;
}
.profile-pic
{
   width: 400px;
   height: 450px;
    filter: drop-shadow(8px 8px 16px rgb(61, 10, 41));
}
.s2-con
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.s1-con1
{
    place-content: center;
}
.s1-main button
{
    width: 130px;
    height: 50px;
    background-color: blueviolet;
    color: white;
    border-radius: 50px;
    margin-top: 10px;
    font-size: 20px;
    border-top-left-radius: 0px;
    /* border-bottom-right-radius: 0px; */
}

@keyframes popup
{
    0%
    {
        opacity: 0;
        transform: translateY(80px);
    }
    40%
    {
        opacity: 0.3;
        transform: translateY(-30px);
    }
    70%
    {
        opacity: 0.6;
        /* transform: translateY(50px); */
    }
    100%
    {
        opacity: 1;
        transform: translateY(0px);
    }
}

.section
{
    padding: 50px 10%;
    background-color:beige;
    height: 100vh;
    
}
.section h2
{
    text-align: center;
    color: black;
    font-size: 2rem;
    
}

 
.skill-con
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
    height: 400px;
    box-shadow: 1px 2px 2px 4px rgb(117, 114, 114);
    margin-top: 40px;
    padding:  0 20px;
    background-color: rgb(255, 255, 255);

}
.skill1
{
    flex: 1;
   /* border: 2px solid black; */
    height: 300px;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem ;
}
.skill1 div
{
    /* border: 1px solid red; */
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
}
.skill2
{
    flex: 2;
      /* border: 2px solid black; */
    height: 300px;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem ;

}
.skill2 .html-p,.css-p,.js-p
{
    border: 1px solid rgb(87, 10, 150);
    width: 100%;
    text-align: end;
    font-weight: bold;
    border-radius: 15px;
}
.skill2 p
{
    font-size: 5x;
    color: rgb(14, 13, 13);
}
.skill2 .html-p,.css-p,.js-p
{
    position: relative;
    background-color: bisque;
}
.html-pp
{
    position: absolute;
    top: 0;
    left: 0;
    background-color: blueviolet;
    width: 90%;
    height: 100%;
    border-radius: 15px;

}
.css-pp
{
    position: absolute;
    top: 0;
    left: 0;
    background-color: blueviolet;
    width: 75%;
    height: 100%;
    border-radius: 15px;

}
.js-pp
{
    position: absolute;
    top: 0;
    left: 0;
    background-color: blueviolet;
    width: 40%;
    height: 100%;
    border-radius: 15px;

}